@model lab.RDLCReportSample.Models.HomeViewModel

@{
    ViewData["Title"] = "Dynamic Report Page";
}

@section Styles {
}

<div class="row">
    <div class="col-12">
        <h3 class="display-4">Dynamic Report Sample</h3>
    </div>
    <div class="col-12 mb-4">
        <div class="content-form">

        </div>
    </div>
</div>


@section Scripts {
}